:root {
  --black: #2d2727;
  --grape: #413543;
  --purple: #8f43ee;
  --yellow: #f0eb8d;
}

body {
  background-color: var(--black);
  font-family: monospace, sans-serif;
  margin: 0;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  color: var(--yellow);
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24;
  margin-bottom: 30;
  margin-bottom: 10px;
}

.showNone {
  display: none;
}



#quizContainer {
  background-color: var(--yellow);
  border: 1px solid var(--grape);
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--black);
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

#quizContainer button {
  background-color: var(--grape);
  color: var(--yellow);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
  margin: 7px 3px;
}

#quizContainer button:hover {
  background-color: var(--purple);
  box-shadow: 1px 2px 0.5px var(--black);
}

#quizContainer button:active {
  transform: scale(95%);
  box-shadow: 4px 4px 2px var(--black);
}

#resultsContainer {
  display: none;
  background-color: var(--yellow);
  border: 1px solid var(--grape);
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--black);
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

#startQuizBtn {
  
}

#submitBtn {
}

#viewResultsBtn {
 
}

#timer {
  font-family: monospace;
  text-align: center;
  position: relative;
  left: 45%;
  top: 0%;
  color: var(--black);
  text-shadow: 0 0 20px var(--purple), 0 0 20px var(--black);
}
.time {
  letter-spacing: 2px;
  font-size: 90px;
  padding: 5px 0;
}

#timerElem {
  font-family: monospace;
  text-align: center;
  position: relative;
  left: 45%;
  top: 0%;
  color: var(--black);
  text-shadow: 0 0 20px var(--purple), 0 0 20px var(--black);

}
/* 
#errorMessage {
  font-family: monospace;
  text-align: center;
  position: relative;
  left: 45%;
  top: 0%;
  color: var(--black);
  box-shadow: 0 0 20px var(--purple), 0 0 20px var(--black);
} */
